@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    line-height: 15px;
    font-weight: 400;
}

h1 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 37px;
    line-height: 37px;
    margin-bottom: 15px;
    font-weight: 700;
}

h2 {
    font-size: 26px;
    font-family: 'Roboto Slab', sans-serif;
    margin-bottom: 20px;
}

.footer {
    background-color: black;
}

/*** MOBILE **/
@media(max-width: 991px) and (min-width: 320px) {
    .wrapper {
        width: 100%;
        padding-top: 36px;
        padding-left: 36px;
        padding-right: 40px;
    }

    .header {
        width: 100%;
    }

    .logo {
        width: 52px;
        height: 30px;
        margin-bottom: 40px;
    }

    .navigation {
        display: flex;
        list-style-type: none;
    }

    .navigation li {
        display: flex;
        align-items: center;
    }

    .navigation img {
        display: block;
        margin-right: 5px;
        margin-left: 10px;
    }

    .navigation li:first-child img {
        margin-left: 0;
    }

    .navigation a {
        color: black;
        font-size: 10px;
        text-decoration: none;
    }

    .navigaion a:hover {
        color: blue;
        text-decoration: underline;
    }

    .main {
        margin-top: 20px;
    }

    .producer {
        display: block;
        margin: 10px 0 25px 120px;
        width: 142px;
        height: 174px;
    }

    .author-text {
        box-sizing: border-box;
        background-color: #1e4681;
        color: white;
        line-height: 14px;
        margin-bottom: 50px;
        font-family: 'Roboto Slab', sans-serif;
        font-size: 11px;
        padding: 12px;
        width: 225px;
        height: 93px;
    }

    .author-text span {
        display: block;
        text-align: right;
    }

    .about {
        font-size: 12px;
        line-height: 18px;
        width: 308px;
        margin-bottom: 20px;
    }

}